/* ---------------------------------------------------------------
                    Reset y variables
---------------------------------------------------------------  */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
   
    background-color: #fdf8f8;
    min-height: 100vh;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-color: var(--background-color);

    font-family: "Montserrat", sans-serif;
  


    /* VARIABLES DE LA PÁGINA */

    /* Esta es la paleta de colores de mi página*/
    --green-color: #38704c;
    --brown-color:#66503d;
    --brown-color-dark: #48392b;
    --golden-color:#bf9e47;
    --primary-beige-color: #d8cba7;
    --secondary-beige-color: #ffedbe;
    --background-color: #f7f4ec;
    --golden-letras: #c99e31;

}


/* ---------------------------------------------------------------
                    Elementos comunes 
---------------------------------------------------------------  */
.header{
    
    width: 100%;
    height: 30%;
    z-index: 1;
    display: flex;
    flex-direction: column; 
    margin: 0 0 1px 0;
    box-shadow:  13px 14px 25px -1px rgba(107,107,107,0.69);

}


.header__principal{
    background-color: var(--primary-beige-color);
    width: 100%;
    height: 60%; 
    display: flex;
    gap: 12.5rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow:  13px 14px 25px -1px rgba(107,107,107,0.69);
    
   
}

.header__menu{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.header__logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%; 
    padding: 0 1.5625rem 0 0;
    
}

.header__img{
    object-fit: cover;
    width: 100%;
    min-width: 220px; 
    max-width: 250px;  
        height: auto; 
}
.header__carrito{
    width: 10%;
    display: flex;
    justify-content: center;
    
}

.header__icon{
    
    object-fit: contain;
    width: 100%;
    min-width: 50px;
    max-width: 60px;
    height: auto;

}


.nav{
    background-color: var(--green-color);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:  13px 14px 25px -1px rgba(107,107,107,0.69);
    
    
}
.nav__ul{
    width: 100%;
    height: 100%; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-decoration: none;
} 

.nav__li{
    width: 100%;
    height: 100%;
    list-style: none;
    
    text-align: center;
}


.nav__li:hover{
    background-color: var(--brown-color);
    color: var(--primary-beige-color);
}
    


.nav__a{
   
    display: block;
    width: 100%;
    padding: 30px;
    height: 100%;
    text-decoration: none;
    color: var(--secondary-beige-color);
    font-size: 20px;
    text-align: center
}

.footer{
    
    width: 100%;
    max-width: 100vw;
    height: auto;
    background-color: var(--green-color);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}
    
.footer__main{
    display: flex;
    width: 100%;
    padding: 1rem;
    gap: 60%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
 
    
    
}

.footer__icon{
    width: 20%;
   
    
}
.footer__logo{
    width: 30%;
    
   
}

.footer__img{
    width: 100%;
    height: auto;
    overflow: hidden;
}
.footer__enlaces{
    width: 30%;
    display: flex;
    text-align: right;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 2em;
    
    color: var(--primary-beige-color);
  
}

.footer__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    
    
}
.footer__links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.footer__h3{
    width: 100%;
    font-size: 1.7rem;
   
  
}
.footer__li{
    list-style: none;
}

.footer__a{
    text-decoration: none;
    color: var(--primary-beige-color);
    font-size: 1.2em;
} 
.footer__a:hover{
    color: var(--brown-color-dark);
}  
.rrss{
    display: flex;
    flex-direction: row;
    color: var(--primary-beige-color);
    gap: 0.5em;
}

.rrss__icon{
    color: var(--primary-beige-color);
    margin: 0 10px;
    font-size: 24px;
    
}

.rrss__icon:hover{
    color: var(--brown-color-dark);
}

.footer__p{
    color: var(--primary-beige-color);
    text-align: center;
    margin: 0 0 1em 0;
}
/* ---------------------------------------------------------------
                    Sección de Index 
---------------------------------------------------------------  */

.main__index{
    flex-grow: 1;
    width: 100%;
    max-width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 7rem;
}

.presentacion{
    width: 100%;
    height: 100dvh;
    display: flex;
    background-image: url(/imgs/photos/bg_imgs/foto_regaderas.jpg);
    transition: background-image 2s ease-in;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    margin: 0.0625rem 0;
    
}

.presentacion__texto{
    backdrop-filter: blur(70px);
    font-family: "DM Serif Display", serif;
    width: 80%;
    border-radius: 32px;
    padding: 3rem;
    text-align: center;
    font-size: 4rem;
    color: var(--brown-color-dark);
}

.presentacion__span{
    color: var(--green-color);
}

.presentacion__span--golden{
    color: var(--golden-letras);
}

.informacion{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0.625rem;
}

.informacion__caja{
    
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--brown-color-dark);
    

}
.informacion__photo{
    width: 40%;
}
.informacion__img{
    width: 100%;
    height: auto;
}

.informacion__h3{
    color: var(--green-color);
}

.informacion__p{
    width: 80%;
    font-size: 1rem;
    text-align: justify;
}

.comentarios{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    gap: 0.625rem;
    padding: 5rem 0;
    border: 1px solid black;
    background-color: var(--primary-beige-color); 
    border: 2px solid #ddd;
    border-radius: 10px;
    position: relative;
}



.comentarios__contenedor{
   display: flex;
   width: 40%;
   height: auto;
   border-radius: 1.25rem;
   overflow: hidden;
   border: 2px solid var(--brown-color-dark);
   box-shadow:  13px 14px 25px -1px rgba(107,107,107,0.69);
    
}

.comentarios__fotos{
    width: 100%;
    border-radius: 20px;
    transition: transform 0.5s ease-in-out;
    display: none;
    object-fit: contain;
}

.comentarios__fotos:first-child{
    display: block;
}


.comentarios__boton{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--green-color);
    border-radius: 50%;
    box-shadow:  13px 14px 25px -1px rgba(107,107,107,0.69);
    color: var(--golden-color);
    border: none;
    padding: 2rem;
    cursor: pointer;
    z-index: 2;
    
}

.comentarios__boton:hover{
    background-color: var(--golden-color);
    color: var(--green-color);
}

.comentarios__boton--anterior{
    left: 20%;
    
}

.comentarios__boton--siguiente{
    right: 20%; 
}


.exitos{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 1rem 0 3.125rem 0;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    
}
.exitos__h3{
    font-family: "DM Serif Display", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 4rem;
    color: var(--green-color);
    padding: 2.5rem;
    text-shadow: 13px 14px 25px -1px rgba(107,107,107,0.69);
}

.exitos__contenedor{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.125rem;
    margin: 0 0 100px 0;
}
.tarjeta{
    width: 25%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-beige-color);
    border: 1px solid var(--brown-color-dark);
    border-radius: .625rem;
    box-shadow:  13px 14px 25px -1px rgba(107,107,107,0.69);
}

.tarjeta__foto{
    width: 100%;
    
}
.tarjeta__img{
    width: 100%;
    object-fit: cover;
    border-radius: .75rem;
}
.tarjeta__content{
    width: 90%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
        
}
.tarjeta__texto{
   
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.tarjeta__link{
    text-decoration: none; 
    color: var(--brown-color-dark);
}

.tarjeta__button{
    background-color: var(--green-color);
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
    text-align: center;
    width: 6.25rem;
    padding: 1rem;
    color: var(--primary-beige-color);
    border: 3px solid var(--golden-color);
    border-radius: 1.25rem;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    box-shadow:  13px 14px 25px -1px rgba(107,107,107,0.69);
}

.tarjeta__button:hover{
    color: var(--green-color);
    background-color: var(--golden-color);
    border: 3px solid var(--green-color);
}



/* ---------------------------------------------------------------
                    Sección de Catálogo
---------------------------------------------------------------  */
.catalogo{
    width: 100%;
    max-width: 100vw;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.catalogo__h1{
    font-family: "DM Serif Display", serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    font-size: 4rem;
    color: var(--green-color);
    padding: 2.5rem;
    text-shadow: 13px 14px 25px -1px rgba(107,107,107,0.69);
 
}

.catalogo__p{
    width: 65%;
    color: var(--brown-color-dark);
    font-weight: bold;
    text-align: center;
    padding: 1.875rem;
    
}
.catalogo__content{
    width: 70%;
    max-width: 100vw;
    height: 100%;
    padding: 10px;
     margin: 10px 0px; 
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-template-rows: repeat(2,1fr);
    justify-items: center;
    align-items: center;
    row-gap: 20px;
    column-gap: 40px;
 
}
.card{
    
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-beige-color);
    border: 3px solid var(--brown-color);
    border-radius: 20px;
    box-shadow:  13px 14px 25px -1px rgba(107,107,107,0.69);

}
.card__photo{
    width: 200px;
    height: 70%;
    
    display: flex;
    justify-content: center;
}
.card__img{
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
    margin-bottom: 0;
    border-bottom: 3px solid var(--brown-color);
}

.card__content{
    display: flex;
    width: 100%;
    height: 40%;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    border: 0px 2px 2px 2px solid var(--brown-color);
    
    
}
.card__texto{
    display: flex;
    flex-direction: column;
    color: var(--brown-color-dark);
    font-size: 1.5625rem;
    gap: 10px;
}
.card__button{
    background-color: var(--green-color);
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
    text-align: center;
    width: 10rem;
    padding: 1rem;
    color: var(--primary-beige-color);
    border: 2px solid var(--golden-color);
    border-radius: 1.25rem;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    box-shadow:  13px 14px 25px -1px rgba(107,107,107,0.69);
    
}

.card__button:hover{
    color: var(--green-color);
    background-color: var(--golden-color);
    border: 3px solid var(--green-color);
}

.card__link{
    text-decoration: none;
    color: var(--brown-color-dark);
}



/* ---------------------------------------------------------------
                    Sección de Carrito
---------------------------------------------------------------  */

.main__carrito{
    display: flex;
    flex-grow: 1;
    width: 100%;
    height: auto;
    margin: 0.1875rem 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.carrito__section{
    
    width: 100%;
    padding: 3.125rem 0;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
    border-radius: 20px;
    
}

.carrito__h1{
    font-size: 4em;
    font-family: "DM Serif Display", serif;
    font-weight: 700;
    font-style: normal;
    color: var(--green-color);
    padding: 0.5rem;
    text-shadow: 13px 14px 25px -1px rgba(107,107,107,0.69);
}
.carrito{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    border-radius: 20px;
    border: 2px solid var(--brown-color-dark);
    
}
.carrito__div{
    width: 95%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 2.5rem;
}
.carrito__span{
    font-size: 2em;
    font-weight: bold;
    text-align: right;
    color: var(--green-color);
}
.carrito__producto{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    
    
    font-size: 2em;
    border: 2px solid var(--green-color);
    border-radius: 10px;
    background-color: var(--primary-beige-color);
}
.carrito__photo{
    width: 4em;
    border-radius: 0.3em;
}
.carrito__caja{
    display: block;
    padding: 1em;
    color: var(--green-color);
}

.carrito__p{
    width: 70%;
    font-size: 1.5rem;
    text-align: center; 
    font-weight: bold;
    color: var(--brown-color-dark);
}
.carrito__total{
    font-weight: bold;
    color: var(--green-color);
}

.carrito__botones{
    flex-direction: row;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 3em;
    padding: 2.5rem;
}

.carrito__finalizar{
    background-color: var(--green-color);
    font-family: "Montserrat", sans-serif;
    width: 40%;
    padding: 0.5rem;
    color: var(--primary-beige-color);
    border: 2px solid var(--golden-color);
    border-radius: 1.25rem;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    box-shadow:  13px 14px 25px -1px rgba(107,107,107,0.69);
    
}

.carrito__finalizar:hover{
    background-color: var(--golden-color);
    color: var(--green-color);
    border: 2px solid var(--green-color);

}

.carrito__vaciar{
    background-color: var(--brown-color);
    font-family: "Montserrat", sans-serif;
    width: 40%;
    padding: 1rem;
    color: var(--primary-beige-color);
    border: 2px solid var(--primary-beige-color);
    border-radius: 1.25rem;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    box-shadow:  13px 14px 25px -1px rgba(107,107,107,0.69);
    
}

.carrito__vaciar:hover{
    background-color: var(--golden-color);
    color: var(--green-color);
    border: 2px solid var(--green-color);

}


/* ---------------------------------------------------------------
                    Sección de Sobremi
---------------------------------------------------------------  */

.main__conocenos{
    display: flex;
    flex-grow: 1;
    width: 100%;
    height: auto;
    margin: 0.1875rem 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conocenos{
    width: 100%;
    height: 100vh;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}

.conocenos__h1{
    font-size: 4em;
    font-family: "DM Serif Display", serif;
    font-weight: 700;
    font-style: normal;
    color: var(--green-color);
    padding: 3rem;
    text-shadow: 13px 14px 25px -1px rgba(107,107,107,0.69);
}

.conocenos__contenido{
    width: 100%;
    height: 80%;
    background-color: var(--primary-beige-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}

.conocenos__photo{
    width: 45%;
    border: 2px solid var(--brown-color-dark);
    box-shadow:  13px 14px 25px -1px rgba(107,107,107,0.69);
}

.conocenos__img{
    object-fit: cover;
    width: 100%;
}

.conocenos__texto{
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    width: 40%;
    padding: 40px;
    text-align: justify;
    font-size: 1rem;
    font-weight: bold;
    color: var(--brown-color-dark);
}


.conocenos__span{
    color: var(--green-color);
}


/* ---------------------------------------------------------------
                    Sección de Pago
---------------------------------------------------------------  */

.pago{
    display: flex;
    flex-grow: 1;
    width: 100%;
    
    height: auto;
    padding: 20px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.pago__section{
    background-image: url(/imgs/photos/bg_imgs/fondo_carrito.webp);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;
}

.pago__form{
    width: 50%;
    height: auto;
    display: flex;
    padding: 1rem 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    
    border: 1px solid var(--brown-color);
    background-color: var(--brown-color);
    border-radius: 2%;
    box-shadow:  13px 14px 25px -1px rgba(107,107,107,0.69);
}

.pago__h1{
    font-size: 4em;
    font-family: "DM Serif Display", serif;
    font-weight: 700;
    font-style: normal;
    color: var(--golden-letras);
    padding: 0.5rem;
    text-shadow: 13px 14px 25px -1px rgba(107,107,107,0.69);
}

.pago__div{
    width: 70%;
    display: flex;
    flex-direction: column;
    color: var(--primary-beige-color);
    gap: .125rem;
}

.pago__h3{
    font-size: 2rem;
}
.pago__label{
    padding: .1875rem;
}
.pago__input{
    font-family: "Montserrat", sans-serif;
    padding: .1875rem;
    border-radius: 1.25rem;
    border: inset;
    background-color: var(--background-color);
}

.pago__a--tyc{
    color: var(--golden-color);
}

.pago__botones{
    width: 100%;
    height: auto;
    padding: 0.625rem 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.625rem;
    flex-direction: row;
}


.pago__boton{
    background-color: var(--golden-color);
    font-family: "Montserrat", sans-serif;
    width: 20%;
    
    padding: 1rem;
    color: var(--primary-beige-color);
    border: 2px solid var(--primary-beige-color);
    border-radius: 1.25rem;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    box-shadow:  13px 14px 25px -1px rgba(107,107,107,0.69);
}

.pago__boton:hover{
    background-color: var(--green-color);
    color: var(--primary-beige-color);
    

}

/* ---------------------------------------------------------------
                    Sección de Confirmacion
---------------------------------------------------------------  */
.main__confirmacion{
    display: flex;
    flex-grow: 1;
    width: 100%;
    height: auto;
    padding: 3em 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.confirmacion{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.confirmacion__h1{
    font-size: 4em;
    font-family: "DM Serif Display", serif;
    font-weight: 700;
    font-style: normal;
    color: var(--green-color);
    padding: 0.5rem;
    text-shadow: 13px 14px 25px -1px rgba(107,107,107,0.69);
}



.confirmacion__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    gap: 10px;
    
}

.confirmacion__p{
    width: 40%;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: justify; 
    color: var(--brown-color-dark);
}

.confirmacion__texto{
    display: flex;
    width: 80%;
    gap: 25%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.confirmacion__photo{
    width: 20%;
    min-width: 200px;
}

.confirmacion__img{
    width: 100%;
    height: auto;
}

.confirmacion__contenedor{
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-beige-color);
    gap: 1.25rem;
    padding: 1.25rem;
    border: 2px dashed var(--golden-color);
    border-radius: 1.25rem;
    box-shadow:  13px 14px 25px -1px rgba(107,107,107,0.69);
    
}

.confirmacion__div{
    width: 80%;
}
.confirmacion__producto{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px dashed var(--green-color);
    color: var(--green-color);
    font-size: 2em;

}


.confirmacion__span{
    width: 30%;
    display: block;
    font-size: 2rem;
    padding: 0.5em;
    color: var(--green-color);
    
}

.confirmacion__span--total{
    width: 30%;
   
    font-size: 2rem;
    padding: 1em;
    color: var(--green-color);
    
}

.confirmacion__p--total{
    font-weight: bold;
    align-self: flex-end;
    color: var(--brown-color-dark);
}

.confirmacion__button{
    background-color: var(--green-color);
    font-family: "Montserrat", sans-serif;
    width:50%;
    
    padding: 1rem;
    color: var(--primary-beige-color);
    border: 2px solid var(--golden-color);
    border-radius: 1.25rem;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    box-shadow:  13px 14px 25px -1px rgba(107,107,107,0.69);
}


/* ---------------------------------------------------------------
                    Sección de Producto 
---------------------------------------------------------------  */

.main__producto{

    display: flex;
    flex-grow: 1;
    width: 100vw;
    
    height: auto;
    padding: 3em 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.producto{
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    padding: 1.5rem;
    border: 1px solid var(--brown-color);
    background-color: var(--primary-beige-color);
    border-radius: 2%;
    box-shadow:  13px 14px 25px -1px rgba(107,107,107,0.69);
}

.producto__photo{
    width: 50%;
    border-radius: 2%;
    height: auto;
    border: 2px solid var(--brown-color);
    box-shadow:  13px 14px 25px -1px rgba(107,107,107,0.69);
}
.producto__img{
    object-fit: cover;
    width: 100%;
    border-radius: 2%;
    height: auto;
}

.producto__content{
    display: flex;
    width: 50%;
    
    height: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    color: var(--brown-color-dark);
    padding: 0;
    
}
.producto__info{
    display: flex;
    justify-self: flex-start;
    flex-wrap: wrap;
    
    width: 80%;
    height: 30%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    
}
.producto__div{
    display: flex;
    align-self: flex-start;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 25px;
}
.producto__h1{
    font-size: 2.5em;
}
.producto__span{
    font-size: 2rem;
    background-color: var(--brown-color);
    color: whitesmoke;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 13px 14px 25px -1px rgba(107,107,107,0.69);
    
}

.producto__texto{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    padding: 45px 0;
    border-radius: 1.25rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    background-color: var(--brown-color);
    box-shadow:  13px 14px 25px -1px rgba(107,107,107,0.69);
}

.producto__h3{
    font-size: 2em;
    width: 20%;
    color: whitesmoke;
}

.producto__ul{
    display: flex;
    width: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 0.625rem;
    list-style: none;
    
}
.producto__li{
    color: whitesmoke;
    text-align: justify;
    
}
.producto__strong{
    margin:0 0 0.125rem 0;
}
.producto__botones{
    width: 100%;
    height: auto;
    padding: 0.625rem 0;
    display: flex;
    align-self: flex-end;
    flex-wrap: wrap;
    gap: 0.625rem;
    flex-direction: row;
}
.producto__button{
    background-color: var(--green-color);
    font-family: "Montserrat", sans-serif;
    width: 90%;
    
    padding: 1rem;
    color: var(--primary-beige-color);
    border: 2px solid var(--golden-color);
    border-radius: 1.25rem;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    box-shadow:  13px 14px 25px -1px rgba(107,107,107,0.69);
}

.producto__button--pago{
    background-color: var(--golden-color);
    border: 2px solid var(--green-color);
    color: var(--brown-color-dark);
}

.producto__a{
    text-decoration: none;
    color: var(--primary-beige-color);
}

/* ---------------------------------------------------------------
                    Sección TyC
---------------------------------------------------------------  */
.main__tyc{
    display: flex;
    flex-direction: column;
    color: var(--brown-color-dark);
    margin: 0 0 2rem 0;
    
}

.tyc{
    padding: 0.625rem;
    justify-content: center;
    align-items: center;
}

.tyc__button{
    background-color: var(--golden-color);
    font-family: "Montserrat", sans-serif;
    width: 10rem;
    align-self: center;
    
    padding: 1rem;
    color: var(--green-color);
    border: 2px solid var(--green-color);
    border-radius: 1.25rem;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    box-shadow:  13px 14px 25px -1px rgba(107,107,107,0.69);
}

.tyc__a{
    text-decoration: none;
    color: var(--green-color);
}

/* ---------------------------------------------------------------
                    Media Queries 
---------------------------------------------------------------  */

@media (max-width: 768px) {

       
        /*Header*/
    
        .header__principal {
            gap: 40px;
        }

    
        .header__icon{

            width: 10px;

        }

        .header__menu{

            margin: 0 0 0 40px;
        }
       
        .header__logo{

            padding-left: 20px; 
        } 

        .header__img{

            width: 100%;
            height: auto;
            align-self: center;
        }
    
        .header__carrito{

            margin-right: 40px;
            display: flex;
            padding: 20px;
        }

        .nav{
            display:none;
            max-width: 100%;
            height: 100%;  
            padding: 0;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
        }

        .nav__ul{

            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
           

        }

        .nav__li{
            width: 100%;
            height: auto;
            padding: 20px;
            text-align: center;
           
            
        }

        .nav__a{

            text-align: center;
        }




        /*Footer*/

        .footer{

            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px;
        }

        .footer__icon{
            width: 40%;
        }

        .footer__main{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
        }
        .footer__container{
            padding: 0;
        }

        .footer__links{

            align-items: center;
        }

        .footer__h3{
            text-align: center;
            padding: 0;
            font-size: 1.5rem;
            width: 100%;
           
        }

        .rrss{
           
            align-self: center;
         
        }

        /*Index*/

        .main__index{

            gap: 32px;
            margin: 0;
            
        }

        .presentacion{

            background-size: cover;
            background-position: center;
            height: 100vh;
            padding: 2rem 0;
        }


        .presentacion__texto {
            font-size: 1.5rem;
            padding: 1rem;
        }
    
        .informacion{

            height: auto;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 1rem;
            gap: 1rem;

        }


        .informacion__caja{

            width: 90%;
            margin-bottom: 1rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

        }


        .informacion__img{

            width: 100%;

        }


        .informacion__h3{
            text-align: center;

        }


        .informacion__p{

            font-size: 1rem;
 

        }
    
        .comentarios {

            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;

        }


        .comentarios__contenedor {

            width: 90%;

        }


        .comentarios__boton {

            padding: 1rem;
            top: auto;
            
        }

        .exitos{

            text-align: center;

        }

        .exitos__contenedor {

            flex-direction: column;
            gap: 1.5rem;

        }

        .tarjeta {

            width: 90%;

        }



       /*Catalogo*/

        .catalogo__h1{
            font-size: 2.5rem;
        }

        .catalogo__p{
            width: 90%;
            font-size: 1.2rem;
        }

        .catalogo__content{
            grid-template-columns: 1fr;
            gap: 1rem;
        }

        .card{
            width: 90%;
        }
        .card__texto{
            font-size: 15px;
        }



       /* Carrito */

       .carrito{

            width: 90%; 
            padding: 1rem;
        }


        .carrito__div{
            padding: 1rem;

        }

        .carrito__photo{

            width: 100%;
            
        }

        .carrito__producto{

            flex-wrap: wrap;
            padding:2px;
           
        }

        .carrito__botones{

            flex-direction: column;
            gap: 1rem;
           
            
        }
        .carrito__finalizar{

            width: 100%;
            padding: 1rem;

        } 

        .carrito__vaciar{

            width: 100%;
            padding: 1rem;

        }



        /* Producto */

        .producto{
            flex-direction: column; 
            width: 90%;
        }
        .producto__photo{
            width: 100%;
            height: auto;

        }
        
        .producto__content{
            width: 100%; 
            gap: 1.5rem;
        }
        

        .producto__h1{
            font-size: 2rem; 
        }


        .producto__span{

            font-size: 1.5rem; 
        }


        .producto__h3{

            font-size: 1.5rem; 
        }

        .producto__ul{
            padding: 0.5rem; 
        }

        .producto__button{
            width: 100%; 
            padding: 0.75rem; 
        }


        /*Confirmacion*/

        .confirmacion__h1{
            font-size: 2.5rem;
            text-align: center;
        }
    
        .confirmacion__info{
            width: 100%;
        }
    
        .confirmacion__p{
            width: 90%;
            font-size: 1.2rem;
            text-align: center;
        }
    
        .confirmacion__texto{
            width: 100%;
            flex-direction: column;
            gap: 1rem;
        }
    
        .confirmacion__photo{
            width: 60%;
            min-width: unset;
        }
    
        .confirmacion__contenedor{
            width: 100%;
            padding: 1rem;
            gap: 1rem;
        }
    
        .confirmacion__div{
            width: 100%;
        }



        /*SobreMi*/

        .conocenos{
            height: auto;
        }
    
        .conocenos__h1{
            font-size: 2.5rem;
            text-align: center;
        }
    
        .conocenos__contenido{
            flex-direction: column;
            align-items: center;
            gap: 1.5rem;
            padding: 1rem;
        }
    
        .conocenos__photo{
            width: 90%;
        }
    
        .conocenos__texto{
            width: 90%;
            font-size: 1rem;
            text-align: center;
        }



        /*Pago*/

        .pago__form{

            width: 90%;
            padding: 1rem;
        }
    
        .pago__h1{

            font-size: 2.5rem;
        }
    
        .pago__div{

            width: 100%;
            gap: 0.75rem;
        }
    
        .pago__h3{
            font-size: 1.5rem;
        }
    
        .pago__input{

            padding: 0.75rem;
        }
    
        .pago__boton{
            width: 90%;
        }



        /*Tyc*/

        .tyc__h1{
            font-size: 2rem;
        }
    
        .tyc__caja{
            width: 90%;
            padding: 1rem;
        }
    
        .tyc__button{
            width: 80%;
            padding: 0.75rem;
        }
    }
    

    @media (min-width: 768px) and (max-width: 1200px) {

    /*CONTENIDO COMÚN (Header Y Footer)*/

        .header__principal{

            flex-direction: row;
            align-items: center;
            padding: 20px;
            gap: 60px;
        }
        .header__menu{
            
            width: 20%;
        }
        .header__logo{
            width: 60%;
        }

        .header__carrito{

            width: 20%;
            
        }
        .nav__ul{

            flex-direction: row;
            gap: 20px;
        }

        .footer__links{
            
            align-items: center;
        }

       /*Index*/

        .main__index{
            gap: 5rem;
        }
        .presentacion__texto {
            font-size: 3.2rem;
            padding: 2rem;
        }
        .informacion{
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            
        }
        .informacion__photo{
            display: flex;
            justify-content: center;
            
           
        }
        .informacion__caja{ 
            
            width: 45%;
            margin-bottom: 3rem;
        }

        .informacion__img{
            width: 60%;
        }

        .informacion__h3{
            align-self: center;

        }

        .informacion__p{
            font-size: 1.1rem;
            text-align: center;

        }

        .comentarios__contenedor{
            width: 70%;

        }

        .exitos__contenedor{
            flex-direction: row;
            gap: 2.5rem;

        }

        .tarjeta{
            width: 45%;
        }

        /*Catalogo*/

        .catalogo__h1{

            font-size: 3rem;
        }
    
        .catalogo__p{

            width: 80%;
            font-size: 1.5rem;
        }
    
        .catalogo__content{

            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            gap: 1.5rem;
        }
    
        .card{
            width: 80%;
            
        }

        .card__content{
            flex-direction: column;
            gap: 1rem;
        }
        .card__texto{
            font-size: 20px;
        }

        .card__button{
            width: 100%;
            height: auto;
            font-size: rem;
            
        }
        /*Carrito*/

        .carrito{
            width: 70%;
        }

        .carrito__div{
            padding: 2rem;
        }

        .carrito__producto{
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

        }

        .carrito__botones{
            flex-direction: row;
            gap: 2rem;
        }

        .carrito__finalizar{
            width: 45%;
            padding: 1rem;
        }
        
        .carrito__vaciar{
            width: 45%;
            padding: 1rem;
        }

        /*Producto*/

        .producto{
            width: 70%;
            flex-direction: row;
        }

        .producto__photo{
            width: 40%;
        }
        .producto__content{
            width: 60%;
            gap: 2rem;
        }

        .producto__h1{
            font-size: 2.25rem; 
        }

        .producto__span{

            font-size: 1.75rem; 
        }

        .producto__h3{
            font-size: 1.75rem; 
        }

        .producto__ul{
            padding: 1rem; 
        }

        .producto__button{

            width: 45%; 
            padding: 0.75rem; 
        }

        /*Confirmacion*/

        .confirmacion__h1{

            font-size: 3rem;
        }
    
        .confirmacion__info{

            width: 90%;
        }
    
        .confirmacion__p{

            width: 70%;
            font-size: 1.5rem;
        }
    
        .confirmacion__texto{

            width: 100%;
            flex-direction: row;
            gap: 2rem;
        }
    
        .confirmacion__photo{
            width: 30%;
            min-width: unset;
        }
    
        .confirmacion__contenedor{
            width: 90%;
            padding: 1.5rem;
            gap: 1.5rem;
        }
    
        .confirmacion__div{
            width: 90%;
        }
    
        .confirmacion__producto{

            font-size: 1.75rem;
            padding: 1rem;
        }
    
        .confirmacion__span{

            width: auto;
            font-size: 1.75rem;
            padding: 0.75rem;
        }
        .confirmacion__span--total{
            width: auto;
            font-size: 1.75rem;
            padding: 0.75rem;
            
        }
    
        .confirmacion__button{
            width: 75%;
            padding: 1rem;
        }

        /*SobreMi*/

        .conocenos{
            height: auto;
        }
    
        .conocenos__h1{
            font-size: 3rem;
        }
    
        .conocenos__contenido{
            flex-direction: row;
            align-items: center;
            gap: 2rem;
            padding: 1.5rem;
        }
    
        .conocenos__photo{
            width: 50%;
        }
    
        .conocenos__texto{
            width: 70%;
            font-size: 1.1rem;
        }

        /*Pago*/

        .pago__form{

            width: 70%;
            padding: 1.5rem;
        }
    
        .pago__h1{

            font-size: 3rem;
        }
    
        .pago__div{

            width: 80%;
        }
    
        .pago__h3 {

            font-size: 1.75rem;
        }
    
        .pago__boton {

            width: 50%;
        }

        /*TyC*/
        .tyc__h1 {
            font-size: 2.5rem;
        }
    
        .tyc__caja {
            width: 85%;
            padding: 1.5rem;
        }
    
        .tyc__button {
            width: 60%;
            padding: 0.75rem;
        }
    }
    

    @media (min-width: 1920px) {
        
        body{
            font-size: 1.2rem;
        }
    
        /* Header */
        .header__principal{
            gap: 15rem;
        }

        .header__img{
            min-width: 300px;
            max-width: 350px;
        }

        .header__icon{
            min-width: 70px;
            max-width: 80px;
        }

       
    
        /* Presentacion */

        .presentacion{

            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }

        .presentacion__texto{

            font-size: 7rem;
            padding: 3.5rem;
        }
    
        /* Informacion */
        .informacion__caja{
            width: 30%;
        }
        .informacion__p{
            font-size: 1.5rem;
            text-align: justify;
        }
    
        /* Comentarios */
        .comentarios__contenedor{
            width: 60%;
        }

        .comentarios__boton{
            padding: 3rem;
        }

        .comentarios__boton--anterior{
            left: 300px;
        }
        .comentarios__boton--siguiente{
            right: 300px;
        }
    
        /* Exitos */
        .exitos__h3{
            font-size: 5rem;
        }
        .exitos__contenedor{
            gap: 4rem;
        }
        .tarjeta{
            width: 30%;
        }
    
        /* Catalogo */
        .catalogo__h1{
            font-size: 4.5rem;
        }

        .catalogo__p{
            width: 70%;
            font-size: 2rem;
        }

        .catalogo__content{
            grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
            gap: 2rem;
            padding: 20px;
        }
        .card{
            width: 80%;
        }

    
        /* Carrito */

        .carrito{
            width: 60%;
        }

        .carrito__div{
            padding: 3rem;
        }

        .carrito__producto{
            font-size: 2.5rem;
        }

        .carrito__botones{
            gap: 4rem;
        }

        .carrito__finalizar{
            width: 45%;
            padding: 1.5rem;

        }
        .carrito__vaciar{
            width: 45%;
            padding: 1.5rem;
        }
    



        /* Producto */

        .producto{
            width: 80%;
        }

        .producto__photo{
            width: 40%;
        }

        .producto__content{
            width: 60%;
            gap: 3rem;
        }
        .producto__h1{
            font-size: 3rem;
        }

        .producto__span{
            font-size: 2.5rem;
        }

        .producto__h3{
            font-size: 2.5rem;
        }
        .producto__ul{
            padding: 2rem;
        }

        .producto__button{
            width: 50%;
            padding: 1.5rem;
        }



    
        /* Confirmacion */

        .confirmacion__h1{
            font-size: 4rem;
        }

        .confirmacion__info{
            width: 80%;
        }

        .confirmacion__p{
            width: 60%;
            font-size: 2rem;
        }

        .confirmacion__texto{
            gap: 3rem;
        }

        .confirmacion__photo{
            width: 25%;
        }

        .confirmacion__contenedor{
            width: 70%;
            padding: 2rem;
        }

        .confirmacion__producto{
            font-size: 2.5rem;
            padding: 1.5rem;
        }


        .confirmacion__span{
            font-size: 2.5rem;
            padding: 1rem;
        }

        .confirmacion__span--total {
            font-size: 2.5rem;
            padding: 1rem;
        }

        .confirmacion__button {
            width: 60%;
            padding: 1.5rem;
        }
    

        /* SobreMi */
        .conocenos__h1 {
            font-size: 3.5rem;
        }
        .conocenos__contenido{
            gap: 3rem;
        }

        .conocenos__photo{
            width: 50%;
        }

        .conocenos__texto{
            width: 40%;
            padding: 300px;
            font-size: 2.5rem;
        }
    


        /* Pago */

        .pago__form {
            width: 60%;
            padding: 2rem;
        }

        .pago__h1 {
            font-size: 3.5rem;
        }


        .pago__div {
            width: 70%;
        }


        .pago__h3 {
            font-size: 2rem;
        }


        .pago__boton {
            width: 40%;
            padding: 1.5rem;
        }
    


        /* TyC */

        .tyc__h1 {
            font-size: 3.5rem;
        }

        .tyc__caja {
            width: 70%;
            padding: 2rem;
        }

        .tyc__button {
            width: 50%;
            padding: 1.5rem;
        }
    }

   